---
const currentYear = new Date().getFullYear();
---

<footer
  class="bg-gray-200 dark:bg-gray-800 text-center py-4 mt-12 text-gray-600 dark:text-gray-300"
>
  <p class="text-sm">
    &copy; {currentYear} File Pro. All rights reserved. | Designed & Developed by 
    <span class="font-medium">Parimal Hodar</span>
  </p>
</footer>
